<html>
<head>
    <title>Login - Mario</title>
    <%- include('head.ejs') %>
</head>
<body>
  <script type="module">
    import { Popup, Loading } from '/js/index.js';
    let loginObj = {
      title: 'Account',
      content: `<h2>Log in / Sign up</h2>
                <div id="resolving-input-alert" class="google-icon-center">
                  <span class="material-icons">error</span>
                  <p>User registration is currently not allowed</p>
                </div>
                <input id="account" type="text" name="subjectID" placeholder="Email / ID">
                <input id="password" type="password" name="subjectPW" placeholder="Password">
                <div class="login-btn-wrapper">
                  <a id="login-btn" href="#">
                    <span>continue</span>
                  </a>
                </div>
                <div id="create-account" class="google-icon-center" href="#">
                  <span class="create-account-inner">
                    <p>Create account</p>
                    <span class="material-icons">arrow_circle_right</span>
                  <span>
                </div>`,
      showCloseBtn: false
    };
    const loginPopup = new Popup(loginObj);
    loginPopup.show();

    //enter event
    $('#account, #password').keydown(function(e) {
      if(e.keyCode == 13) {
        loginAjax();
      }
    });

    //login click event
    $('#login-btn').on('click', () => {
      loginAjax();
    })

    //login ajax fn
    function loginAjax() {
      $.ajax({
        url: '/login',
        method: 'post',
        dataType: 'html',
        data: $('.content').serialize(),
        success: function(res) {
          res = JSON.parse(res);
          if(res.status == '1') {
            const loading = new Loading();
            loading.show();
            setTimeout(() => {
              window.location.href = '/';
            }, 2000);
          } else {
            $('#resolving-input-alert > p').html(res.msg);
          }
        },
        error: function(err) {
          console.log(err)
        }
      })
    }
  </script>
</body>
</html>
